*{
    margin: 0;
    padding: 0;
    font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","Meiryo UI", sans-serif;
}

p{
    margin: 10px;
    font-size: 1.1em;
}

li{
  list-style:none;
}

hr{
    border: 1px solid #ddd;
}

/*main*/
.slideshow{
    min-width: 1000px;
}

.main{
    width: 900px;
    margin: auto;
    padding: 10px 0;
}

.main a{
    color: #ff4081
}

.index-link{
    font-size: 1.1em;
    margin: 0 10px;
    color: #ff4081
}

.contents-title{
    width: 100%;
    padding: 10px;
    background: #5c6bc0;
    color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.contents-title h2{
    margin: 5px;
}

.contents-title p{
    margin: 5px;
}

/*member.html*/

.member-post{
    margin: 20px 0 0 0;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.member-cards{
    overflow: hidden;
    padding: 0 30px;
}

/*footer*/
.footer{
    height: 40px;
    margin: 30px 0 0 0;
    background-color: #c5cae9;
}
.footer-text{
    padding: 10px 0px;
    text-align: center;
    color: gray;
}
