body{
    font-family: Verdana, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo UI, "メイリオ", Meiryo, sans-serif;
    background: #f9f9f9;
}

.logo{
    margin: 10px;
    height: 100px;
}

h3{
    color: #3f51b5;
    padding-bottom: 6px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bbb;
}

h4{

}

.h4bold{
    font-weight: bold;
}

a{
    font-size: 1.1em;
    color: #ff4081;
}

img{
    height: 150px;
}

.accent-bottom-a{
    border-bottom: 3px solid #FF80AB;
}
.accent-bottom-b{
    border-bottom: 3px solid #FF4081;
}
.accent-bottom-c{
    border-bottom: 3px solid #FF80AB;
}
.accent-bottom-d{
    border-bottom: 3px solid #FF4081;
}

hr{
    border-color: #dcdcdc;
    margin: 0;
    margin-top: 10px;
}

.activity-title{
    background: #3f51b5;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.activity-title h2{
    padding: 10px;
    padding-bottom: 0;
}

.activity-title p{
    padding: 10px;
    padding-top: 0;
}


/*------------------------------------*/
/*
/*ここからフッター
/*
/*------------------------------------*/
footer{
    margin-top: 20px;
    padding: 10px 0px;
    background-color: #c5cae9;
    color: gray;
    text-align: center;
}

/*------------------------------------*/
/*
/*ナビゲーションバーのカスタマイズ
/*
/*------------------------------------*/
#navbar-custom.navbar-default .navbar-brand {
    color: rgba(238, 238, 238, 1);
    font-size: 25px;
    font-family: Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo UI, "メイリオ", Meiryo, sans-serif;
}
#navbar-custom.navbar-default {
    font-size: 15px;
    background-color: rgba(63, 81, 181, 1);
    border-width: 0px;
    border-radius: 0px;
    margin: 0;
}
#navbar-custom.navbar-default .navbar-nav>li>a {
    color: rgba(238, 238, 238, 1);
    background-color: rgba(63, 81, 181, 1);
}
#navbar-custom.navbar-default .navbar-nav>li>a:hover,
#navbar-custom.navbar-default .navbar-nav>li>a:focus {
    color: rgba(238, 238, 238, 1);
    background-color: rgba(92, 107, 192, 1);
}
#navbar-custom.navbar-default .navbar-nav>.active>a,
#navbar-custom.navbar-default .navbar-nav>.active>a:hover,
#navbar-custom.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(238, 238, 238, 1);
    background-color: rgba(92, 107, 192, 1);
}
#navbar-custom.navbar-default .navbar-toggle {
    border-color: #5c6bc0;
}
#navbar-custom.navbar-default .navbar-toggle:hover,
#navbar-custom.navbar-default .navbar-toggle:focus {
    background-color: #5c6bc0;
}
#navbar-custom.navbar-default .navbar-toggle .icon-bar {
    background-color: #5c6bc0;
}
#navbar-custom.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-custom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #3f51b5;
}
