.plofile-card {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    margin: 10px 0;
}

.profile-header{
    position: relative;
}

/* prolife-header内の要素 */
.profile-header-background {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: #5c6bc0;
    overflow: hidden;
}

.profile-header-icon {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 5%;
    z-index: 2;
    /* iconの画像を丸くトリミング */
    height: 80%;
    border-radius: 100%;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.6);
}

.profile-header-name {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 30%;
    padding-left: 35%;
    font-size: 2em;
    line-height: 100%;
    color: white;
    background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.9));
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,0.9)));
}

/* profile-header外の要素 */
.profile-contents-comment {
    padding: 15px;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-contents-accounts {
    overflow: hidden;
    padding: 0 15px 15px 15px;
}

.account{
    float: left;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    border-radius: 3px;
    margin: 0 5px;
    border: 1px solid #ddd;
}

.account-icon{
    height: 30px;
    width: 30px;
    margin: 5px;
    float: left;
}

.account-name{
    color: rgba(0,0,0,0.7);
    height: 30px;
    line-height: 30px;
    margin: 5px;
    float: left;
}
