*{
    margin: 0;
    padding: 0;
}

.member-title{
    padding: 10px;
    background: #5c6bc0;
    color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

h2{
    margin: 5px 0;
}

p{
    margin: 2px 0;
}

h3{
    margin: 20px 0 0 0;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.main{
    width: 900px;
    margin: auto;
    padding: 20px;
}

.cards{
    overflow: hidden;
    padding: 0 10px;
}
