*{
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 65px;
    min-width: 1000px;
    background-color: #3f51b5;
    color: white;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.6);
}

.nav-bar-left{
    float: left;
    padding: 10px 60px;
    font-size:30px;
}

.nav-bar-right{
    float: right;
}

.nav-bar-right li{
    float: left;
    width: 100px;
    height: 65px;
    margin-right: 2px;
    padding: 20px 0;
    color: white;
    background-color: #5c6bc0;
    list-style:none;
    text-align: center;
    font-family: "ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","Meiryo UI", sans-serif;
    font-size: 15px;
}
