*{
    margin: 0;
    padding: 0;
}

.title{
    width: 820px;
    padding: 10px;
    background: #fff;
    border-radius: 2px;
    box-shadow: -1px 1px 10px gray;
}

h3{
    width: 820px;
    margin: 5px 0;
    padding: 10px;
    background: #fff;
    border-radius: 2px;
    box-shadow: -1px 1px 10px gray;
    clear: left;
}

.main{
    width: 900px;
    margin: auto;
    padding:50px;
}

.cards{

}

.cards-left{
    padding: 10px;
    float: left;
}

.cards-right{
    padding: 10px;
    float: left;
}
