.plofile-card {
	width: 400px;
	height: 300px;
	position: relative;
	box-shadow: -1px 1px 10px gray;
	margin: 20px;


/*	background-color: yellow;*/
}

/* prolife-header内の要素 */
.profile-header {
	width: 400px;
	height: 120px;
}

.profile-icon {
	position: absolute;
	top: 30px;
	left: 20px;
	/* iconの画像を丸くトリミング */
	width: 80px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
}

.name {
	position: absolute;
	top: 60px;
	left: 130px;
	color: white;
	font-weight: bold;
	font-size: 40px;
}

/* profile-header外の要素 */
.comment {
	margin: 10px 30px;
	font-weight: bold;
}

.account {
	margin-left: 7px;
}
