.plofile-card {
	margin: 10px 20px;
	width: 400px;
	position: relative;
	box-shadow: -1px 1px 10px gray;
}

/* prolife-header内の要素 */
.profile-header {
	width: 400px;
	height: 120px;
}

.profile-icon {
	position: absolute;
	top: 30px;
	left: 20px;
	/* iconの画像を丸くトリミング */
	width: 80px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
}

.name {
	position: absolute;
	top: 75px;
	left: 0;
	right: 0;
	width: 400px;
	height: 45px;
	padding-left: 120px;
	color: black;
	background-color: #DDDDDD;
	opacity: 0.6;
	font-size: 30px;
}

/* profile-header外の要素 */
.comment {
	margin: 10px 30px 5px 30px;
	font-weight: bold;
}

.accounts {
	margin-left: 50px;
	padding-bottom: 5px;
}

a {
	margin: 0 10px;
}
